/* Place CSS styles here */
body{
    color: rgb(109, 55, 141);
    background-color: gold;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* media query for phones */
@media (max-width: 480px) {
    body {
      background-color: teal;
    }
  }
  
  /* media query for tablet */
  @media (min-width: 481px) and (max-width: 767px) {
    body {
      background-color: maroon;
    }
  }
  
  /* media query for desktop */
  @media (min-width: 768px) {
    body {
      background-color: peachpuff;
    }
  }
  

.dog-picture{
    text-align: center;
}
p{
    line-height: 1.6px;
}

h1{
    text-transform: uppercase;
    text-align: center;
}